:root {
	--grey: #555554;
	--brown: #843628;
	--blue: #00538b;
}

body {
	font-family: calibri, sans-serif;
	font-size: 18px;
	line-height: 1.5;
}

.container {
	width: 100%;
	max-width: 1200px;
}

.container-fluid {
	width: 100%;
	max-width: 1440px;
}

h2 {
	font-weight: 700;
	font-size: 30px;
	line-height: 1;
}

h3 {
	font-weight: 700;
	font-size: 20px;
	line-height: 1;
}

img {
	max-width: 100%;
	height: auto;
}

.navbar {
	background-color: #555554;
}
.registration {
	color: #fff;
	font-size: 16px;
	a {
		color: #fff;
	}
}

.banner {
	color: #fff;
	background: url("images/banner.jpg") no-repeat bottom center;
	background-size: cover;
	padding: 60px 30px 90px;

	.lms {
		display: flex;
		font-size: 30px;
		padding: 15px;
		border-right: 1px solid #fff;
		h2 {
			font-weight: 700;
			font-size: 32px;
			padding-left: 15px;
			line-height: 1;
		}
		img {
			padding-top: 5px;
			align-self: flex-start;
		}
	}

	.banner-text {
		padding-bottom: 30px;
		h3 {
			font-weight: 100;
			font-size: 22px;
			padding-top: 0px;
			line-height: 1.5;
			strong {
				font-weight: 700;
				display: block;
			}
		}
	}

	form {
		background: #fff;
		padding: 20px 15px;
		border-radius: 5px;
		color: #000;
		max-width: 500px;
		margin: auto;
		text-align: center;
		font-size: 16px;
		.form-control {
			border-left: none;
		}
		.input-group-text {
			background: #fff;
			border-right: none;
			padding: 0 5px 0 10px;
			img {
				max-width: 20px;
			}
		}
		.form-check {
			margin-bottom: 0px !important;
		}
		button {
			width: 180px;
		}
		.form-check-label {
			margin-bottom: 30px;
		}
	}
}

//learning
.content1 {
	background: url("images/bg.png") no-repeat;
	.learning {
		background: #843628;
		color: #fff;
		padding: 50px 30px 40px;
	}

	//explore
	.explore {
		padding: 40px 0px 30px;
		h3 {
			font-size: 24px;
			font-weight: 500;
			padding-bottom: 0px;
		}
		select {
			width: 100%;
			margin-bottom: 15px;
			padding: 5px 10px;
			border: 1px solid #d2cfcf;
			color: #908d8d;
		}
		.btn-secondary {
			border: none;
			background-color: #bfbaba;
			padding: 5px 20px;
			width: 100%;
			transition: 0.25s all ease;
			&:hover {
				background: #908d8d;
			}
		}
	}
}

//courses
.content2 {
	background: url("images/bg2.jpg") repeat;

	.no-results {
		display: none;
		text-align: center;
		padding-top: 10px;
	}
	.courses {
		padding: 0 0 60px;

		.grid-item {
			width: 25%;
		}

		.course-desc {
			margin: 10px;
			background: #ccced0;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			text-align: center;
			width: 100%;
			max-width: 270px;
			margin: 10px;
			padding-bottom: 20px;

			h4 {
				color: #fff;
				background: #843628;
				padding: 10px 15px;
				font-size: 18px;
				text-transform: uppercase;
				font-weight: 700;
			}
			strong {
				font-size: 18px;
				color: #00538b;
			}
			span.course-links {
				padding: 5px 10px;
				color: #df0f0f;
				line-height: 1.2;
			}
			a.learn-more {
				background: #df0f0f;
				color: #fff;
				font-size: 20px;
				padding: 3px 20px;
				margin: 10px;
				transition: 0.25s all ease;
				&:hover {
					text-decoration: none;
					background: #00538b;
				}
			}
		}
	}
}
//footer-registration
.footer-register {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 60px;
	a {
		display: inline-block;
		color: #000;
		padding: 10px 0;
		font-weight: 700;
		margin: 10px;
		width: 200px;
		text-align: center;
		background: #ebebeb;
		transition: 0.25s ease all;
		&:hover {
			text-decoration: none;
			background: #ccc4c4;
		}
	}
}

//footer
footer {
	padding: 30px;
	border-top: 8px solid #df0f0f;
	a {
		display: block;
		color: #000;
		font-size: 16px;
		&.highlight {
			color: #df0f0f !important;
			font-weight: 700;
		}
		&:hover {
			text-decoration: none;
			color: inherit;
		}
	}
	.email,
	.phone {
		font-size: 20px;
		color: #46a0f8;
	}
	.copyright {
		color: #df0f0f;
		font-size: 14px;
	}
}

//individual course
.page-course-details {
	.ind-courses {
		padding: 30px 0;
		h4 {
			font-size: 20px;
			font-weight: 700;
			padding: 10px 0px;
		}
		.courseimg {
			img {
				margin-bottom: 30px;
			}
		}
	}
	.footer-register {
		display: none;
	}
}

@media (min-width: 1200px) {
	form {
		button {
			width: 220px;
		}
	}
}
