:root {
  --grey: #555554;
  --brown: #843628;
  --blue: #00538b;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: calibri, sans-serif;
  font-size: 18px;
  line-height: 1.5;
}

.container {
  width: 100%;
  max-width: 1200px;
}

.container-fluid {
  width: 100%;
  max-width: 1440px;
}

h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 1;
}

h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
}

img {
  max-width: 100%;
  height: auto;
}

.navbar {
  background-color: #555554;
}

.registration {
  color: #fff;
  font-size: 16px;
}

.registration a {
  color: #fff;
}

.banner {
  color: #fff;
  background: url("images/banner.jpg") no-repeat bottom center;
  background-size: cover;
  padding: 60px 30px 90px;
}

.banner .lms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 30px;
  padding: 15px;
  border-right: 1px solid #fff;
}

.banner .lms h2 {
  font-weight: 700;
  font-size: 32px;
  padding-left: 15px;
  line-height: 1;
}

.banner .lms img {
  padding-top: 5px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.banner .banner-text {
  padding-bottom: 30px;
}

.banner .banner-text h3 {
  font-weight: 100;
  font-size: 24px;
  padding-top: 0px;
  line-height: 1.3;
}

.banner .banner-text h3 strong {
  font-weight: 700;
  display: inline;
  font-size: 24px;
}

.banner form {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  color: #000;
  max-width: 500px;
  margin: auto;
  text-align: center;
  font-size: 16px;
}

.banner form .form-control {
  border-left: none;
  padding: 25px 10px;
  margin-top: 10px;
  font-size: 18px;
}

.banner form .input-group-prepend {
  margin-top: 10px;
}

.banner form .input-group-text {
  background: #fff;
  border-right: none;
  padding: 0 5px 0 10px;
}

.banner form .input-group-text img {
  max-width: auto;
  padding: 5px;
}

.banner form .form-check {
  margin-bottom: 0px !important;
}

.banner form button {
  width: 100%;
  padding: 10px 0;
  font-size: 18px;
  font-weight: 700;
}

.banner form .form-check-label {
  margin-bottom: 30px;
  font-size: 18px;
}

.content1 {
  background: url("images/bg.png") no-repeat;
  background-size: cover;
}

.content1 .learning {
  background: #843628;
  color: #fff;
  padding: 50px 30px 40px;
}

.content1 .learning h3 {
  font-size: 22px;
}

.content1 .learning p {
  font-size: 20px;
}

.content1 .explore {
  padding: 40px 0px 30px;
}

.content1 .explore h3 {
  font-size: 24px;
  font-weight: 500;
  padding-bottom: 0px;
}

.content1 .explore select {
  width: 100%;
  margin-bottom: 15px;
  padding: 5px 10px;
  border: 1px solid #d2cfcf;
  color: #908d8d;
}

.content1 .explore .btn-secondary {
  border: none;
  background-color: #bfbaba;
  padding: 5px 20px;
  width: 100%;
  -webkit-transition: 0.25s all ease;
  transition: 0.25s all ease;
}

.content1 .explore .btn-secondary:hover {
  background: #908d8d;
}

.content2 {
  background: url("images/bg2.jpg") repeat;
}

.content2 .no-results {
  display: none;
  text-align: center;
  padding-top: 10px;
  font-size: 20px;
  font-weight: 700;
}

.content2 .courses {
  padding: 0 0 60px;
}

.content2 .courses .grid-item {
  width: 25%;
}

.content2 .courses .course-desc {
  margin: 10px;
  background: #ccced0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 100%;
  max-width: 270px;
  margin: 10px;
  padding-bottom: 20px;
}

.content2 .courses .course-desc img {
  min-height: 170px;
  max-height: 170px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.content2 .courses .course-desc h4 {
  color: #fff;
  background: #843628;
  padding: 10px 15px;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
  width: 100%;
}

.content2 .courses .course-desc strong {
  font-size: 18px;
  color: #00538b;
}

.content2 .courses .course-desc span.course-links {
  padding: 5px 10px 15px;
  color: #df0f0f;
  line-height: 1.2;
}

.content2 .courses .course-desc a.learn-more {
  background: #df0f0f;
  color: #fff;
  font-size: 20px;
  padding: 3px 20px;
  margin: auto 10px 5px;
  -webkit-transition: 0.25s all ease;
  transition: 0.25s all ease;
}

.content2 .courses .course-desc a.learn-more:hover {
  text-decoration: none;
  background: #00538b;
}

.footer-register {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 60px;
}

.footer-register a {
  display: inline-block;
  color: #000;
  padding: 10px 0;
  font-weight: 700;
  margin: 10px;
  width: 200px;
  text-align: center;
  background: #ebebeb;
  -webkit-transition: 0.25s ease all;
  transition: 0.25s ease all;
}

.footer-register a:hover {
  text-decoration: none;
  background: #ccc4c4;
}

footer {
  padding: 30px;
  border-top: 8px solid #df0f0f;
}

footer a {
  display: block;
  color: #000;
  font-size: 16px;
}

footer a.highlight {
  color: #df0f0f !important;
  font-weight: 700;
}

footer a:hover {
  text-decoration: none;
  color: inherit;
}

footer .email,
footer .phone {
  font-size: 20px;
  color: #46a0f8;
}

footer .copyright {
  color: #df0f0f;
  font-size: 14px;
}

.page-course-details .ind-courses {
  padding: 30px;
}

.page-course-details .ind-courses h2 {
  font-size: 28px;
  color: #f10000;
}

.page-course-details .ind-courses h3 {
  font-size: 24px;
}

.page-course-details .ind-courses h4 {
  font-size: 18px;
  font-weight: 700;
  padding: 0;
}

.page-course-details .ind-courses h5 {
  display: inline-block;
  font-weight: 700;
}

.page-course-details .ind-courses .courseimg img {
  margin-bottom: 30px;
}

.page-course-details .footer-register {
  display: none;
}

.page-course-details a.backlink {
  color: #fff;
  background: #f10000;
  padding: 4px 20px;
  margin-bottom: 20px;
  display: inline-block;
  float: right;
  clear: both;
  -webkit-transition: 0.2s ease all;
  transition: 0.2s ease all;
}

.page-course-details a.backlink:hover {
  background: #00538b;
  text-decoration: none;
}

@media (min-width: 1200px) {
  form button {
    width: 220px;
  }
}

@media (max-width: 520px) {
  .page-course-details .ind-courses {
    padding: 15px;
  }
  .banner {
    padding: 30px 15px;
  }
}
/*# sourceMappingURL=style.css.map */